{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<!-- <div class="Box"> -->
<div class="chgpasspage">
	<div class="formchgpass">
		<div class="chgpasscontainer">
		<form method="POST">
		{% csrf_token %}
			<h1 style="color:rgb(0, 0, 0)">Change password </h1>
			<div class="passformdetail">
				<input type="text" name="pw1" class="passformlist" placeholder="Enter new password" required ></br>
			</div>
			<div class="passformdetail">
				<input type="password" name="pw2" class="passformlist" placeholder="Confirm password" required></br>
			</div>
			<!-- <div class="chgpassbtn"> -->
				<button class="chgpassbtn" input type="submit" value="submit">Submit
				<!-- <input type="submit" value="Submit"> -->
			</button>
			<!-- </div> -->
				
			<p style="color:rgb(0, 0, 0)">{{ msg }}</p>
			</div>
			
		</div>
		</form>
	</div>
</div>


{% endblock %}